bin/
obj/
.vs/
.idea/
.artifacts/
TestResults/
__pycache__/
*.pyc
*.csproj.user
.gradle
.out
.sonarlint
# Secret stuff
*.secrets.*
*.secret.*
*.local.json
.env.local
# User settings
*.DotSettings.user
# Helm
charts/
requirements.lock
*.tgz
*~
.DS_Store
node_modules/
*.log
.DS_Store
*.Development.json
MisguidedLogs.SearchEngine/appsettings.json

Dockerfile

k8s/deployment.yaml
